.map-card {

width:100px;
height:70px;

}

.map {
    width:500px;
    height:350px;
}


.black-card {
    background-color:black;
}

.red-card {
    background-color:red;
}

.sand-card {
    background-color:white;
}

.blue-card {
    background-color:blue;
}
