.map-card {

width:100px;
height:100px;

}

.map {
    width:500;
    height:500;
}


.black-card {
    background-color:black;
}

.red-card {
    background-color:red;
}

.sand-card {
    background-color:white;
}

.blue-card {
    background-color:blue;
}
